:root {
    --orbotik-black: #000;
    --orbotik-blackish: #081420;
    --orbotik-white: #FFF;
    --orbotik-whiteish: #F6E8DD;
    --orbotik-red: #C55932;
    --orbotik-brown: #AE614D;
    --orbotik-brownish: #CBAB99;
    --orbotik-orange: #FAB742;
    --orbotik-yellow: #FFE560;
    --orbotik-green: #5A9360;
    --orbotik-greenish: #98A89B;
}

html {
    font-family: Smythe, sans-serif;
    font-size: 20px;
    letter-spacing: 0.025em;
    word-spacing: 0.05em;
}

.font-extrabold {
    font-weight: normal;
}
.font-bold {
    font-weight: normal;
}

.prose:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    font-weight: normal;    
}