:root {
    --orbotik-black: #000;
    --orbotik-blackish: #081420;
    --orbotik-white: #FFF;
    --orbotik-whiteish: #F6E8DD;
    --orbotik-rust: #C55932;
    --orbotik-brown: #AE614D;
    --orbotik-brownish: #CBAB99;
    --orbotik-orange: #FAB742;
    --orbotik-yellow: #FFE560;
    --orbotik-green: #5A9360;
    --orbotik-olive: #98A89B;
    --orbotik-alpha-blackish: #08142066;
}

html {
    font-family: 'Faculty Glyphic', sans-serif;
    font-size: 16px;
}

.font-extrabold {
    font-weight: normal;
}
.font-bold {
    font-weight: normal;
}

.prose:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    font-weight: normal;    
}

hr {
    border: 0;
    height: 10px;
    background: none url('/images/line-horizontal.webp') repeat-x;
}

.short-alert .relative.icon {
    font-size: 3rem;
}

.lead {
    color: var(--orbotik-brownish);
}

h1, h2, h3, h4, h5, h6 {
    font-variant: small-caps;
    font-weight: normal;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    color: var(--orbotik-yellow);
}

h4 {
    font-size: 1.5rem;
    color: var(--orbotik-whiteish);
}