html {
    font-family: Smythe, sans-serif;
    font-size: 20px;
    letter-spacing: 0.025em;
    word-spacing: 0.05em;
}

.font-extrabold {
    font-weight: normal;
}
.font-bold {
    font-weight: normal;
}

.prose:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    font-weight: normal;    
}