<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="24x24" href="/images/favicon-24x24.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="48x48" href="/images/favicon-48x48.png" />
<link rel="icon" type="image/png" sizes="64x64" href="/images/favicon-64x64.png" />
<link rel="icon" type="image/png" sizes="128x128" href="images/favicon-128x128.png" />
<link rel="apple-touch-icon-precomposed" type="image/png" sizes="57x57" href="/images/favicon-57x57.png" />
<link rel="apple-touch-icon-precomposed" type="image/png" sizes="72x72" href="/images/favicon-72x72.png" />
<link rel="apple-touch-icon-precomposed" type="image/png" sizes="114x114" href="/images/favicon-114x114.png" />
